img{
  float: left;
  margin-left: 50px;
  margin-top: 20px;
}
.intro{
  margin-top: 100px;
  margin-left: 400px;
}
body {
  height: 100%;  
  margin: 0px;
  border: RGB(110,67,114) 3px solid;
  padding-left: 20px;
  padding-right: 10px;
}
.nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
a:hover{
  color: green;
}

/* #6E4372 is RGB(110,67,114) */
ul li {
  display: inline;
  padding: 20px;
  color: #F2DAF4;
  width: 100%;
  opacity: 1;
}
.logo{
  float: left;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 75%;
  width: 5%;
}
.container{
  background-color: rgba(110,67,114,0.7);
}
/* #F2DAF4 is RGB(242,218,244) */
/* .about{
  background-color: rgba(242,218,244,0.7);
  margin: 0px;
  padding-top: 0px;
} */
/* #7415EE is RGB(116,21,238) */
.about ul li{
  display: list-item;
  /* background-color: rgb(242,218,244,); */
  text-decoration-color: rgba(116,21,238);
}