body{
  background-color: whitesmoke;
  padding: 10px;
  border: 3px solid #6E4372;
  border-radius: 25px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1, h2, h3{
  color: rgb(7,7,136);
  text-decoration: underline;
  font-weight: bolder;
  font-style: oblique;
  margin-left: 20px;
}

.main{
  background-color: #6E4372;
}

.main h1, p{
  color: rgb(7,7,136);
  text-decoration: none;
}

.nav{
  display: flex;
  justify-content: space-between;
}

.nav img{
  margin-left: 30px;
  margin-top: 20px;
}

.nav ul li{
  display: inline-block;
  padding: 20px;
  color: #F2DAF4;
  cursor: pointer;
}

.pic{
  float: left;
  padding: 20px;
  border-radius: 50%;
}

a:hover{
  color: blue;
}

.project{
  background-color: #F2DAF4;
  height: max-content;
}

.project p{
  color: #6E4372;
  margin-left: 20px;
}

.social img{
  width: 30px;
  height: 30px;
}

.copyright{
  background-color: #6E4372;
  border: 1px solid rgb(110,67,114,0.4);
  display: flex;
  justify-content: center;
}